<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb">
            <li><a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a></li>
            <li class="active">Registro</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-8 col-md-6 col-lg-6">
        <form id="register-form" action="/register/add" method="post">
            <div class="modal-body">
                <div id="div-login-msg">
                    <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div> <span id="text-login-msg">Registro de usuario</span> </div>
                <br>
                <div class="form-group">
                    <label>Nombre y apellidos</label>
                    <input type="text" class="form-control" name="firstName" placeholder="Nombre" #firstName>
                    <input type="text" class="form-control" name="lastName1" placeholder="Primer apellido" #lastName1>
                    <input type="text" class="form-control" name="lastName2" placeholder="Segundo apellido" #lastName2>
                </div>
                <div class="form-group">
                    <label>Usuario </label>
                    <input type="text" class="form-control" name="name" #userName>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" name="password" type="password" #password>
                </div>
                <div class="form-group">
                    <label>D.N.I.</label>
                    <input class="form-control" name="dni" type="text" #dni>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" #email>
                </div>
                <div class="form-group">
                    <label>Teléfono</label>
                    <input class="form-control" name="telephone" type="text" #phone>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button (click)="register(firstName.value, lastName1.value, lastName2.value, userName.value, password.value, dni.value, email.value, phone.value)"
                            type="submit" class="btn btn-primary btn-lg btn-block submitButton">Registrarme</button>
                </div>
                <div>
                    <a href="/"><button id="login_lost_btn" type="button" class="btn btn-link">Olvidé mi contraseña</button></a>
                    <a href="/login"><button id="login_register_btn" type="button" class="btn btn-link">¿Ya tiene una cuenta?</button></a>
                </div>
            </div>
        </form>
    </div>
</div>
