<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a></li>
            <li class="active">{{ title }}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>{{ title }}</h2> </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-lg-3">
                <div class="coverItem"> <img src="resources/books/mocha_dick.jpg" class="img-responsive" /> </div>
            </div>
            <!-- informacion del libro -->
            <div class="col-lg-9 information">
                <h5 class="authorName">
                        <span>por</span>
                        {{ author }}</h5>
                <ul class="stars">
                    <li class="staticStar p10"></li>
                    <li class="staticStar p10"></li>
                    <li class="staticStar p10"></li>
                    <li class="staticStar p6"></li>
                    <li class="staticStar p0"></li>
                </ul> <span class="ratingValue">3.66</span>
                <div class="description">
                    {{ description }}
                </div>
                <div>
                    <!-- // - text available -->
                    <div class="available"> <span class="graphicAvailable stockGreen"></span>
                        <!--<span class="graphicAvailable stockYellow"></span>-->
                        <!--<span class="glyphicon glyphicon-ban-circle"></span>--><span class="textAvailable">Disponible</span>
                        <!--<span class="textAvailable">No disponible</span>--></div>
                    <!-- // - button reserved -->
                    <button type="button" class="btn btn-success">Reservar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List Books -->
<div class="listBooks">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <hr>
            <h3>Libros de {{ author }}</h3>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail"> <img src="resources/books/logia.jpg" alt="..."> </a>
            </div>
        </div>
    </div>
</div>
<!-- Comments -->
<div class="comments">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <hr>
            <h3>Comentarios</h3>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#"> <img class="media-object" src="img/user_undefined_f_40x40.jpg" alt="..."> </a>
                </div>
                <div class="media-body"> <span class="media-heading">Middle aligned media</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quis quam quasi harum saepe consequuntur ea quod odit veniam sunt. Fugiat voluptate aspernatur, voluptates corrupti consequatur rem inventore quibusdam iure.</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#"> <img class="media-object" src="img/user_undefined_m_40x40.jpg" alt="..."> </a>
                </div>
                <div class="media-body"> <span class="media-heading">Middle aligned media</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quis quam quasi harum saepe consequuntur ea quod odit veniam sunt. Fugiat voluptate aspernatur, voluptates corrupti consequatur rem inventore quibusdam iure.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
