<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ul class="breadcrumb">
      <li><a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a></li>
      <li class="active">Iniciar sesión</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3"></div>
  <div class="col-sm-8 col-md-6 col-lg-6">
    <div class="modal-body">
      <div id="div-login-msg">
        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
        <span id="text-login-msg">Escribe tu usuario</span>
      </div>
      <input id="username" #username class="form-control" name="username" type="text" placeholder="Usuario" required>

      <div id="div-login-msg">
        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
        <span id="text-login-msg">Escribe tu contrase&ntilde;a</span>
      </div>
      <input id="password" #password class="form-control" name="password" type="password" placeholder="Contrase&ntilde;a" required>
      <div class="checkbox">
        <!--<label> <input type="checkbox"> Recordar</label>-->
      </div>
    </div>
    <div class="modal-footer">
      <div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="logIn(username.value, password.value)">Iniciar sesi&oacute;n</button>
      </div>
      <div>
        <a [routerLink]="['']"><button id="login_lost_btn" type="button" class="btn btn-link">Olvid&eacute; mi contrase&ntilde;a</button></a>
        <a [routerLink]="['/register']"><button id="login_register_btn" type="button"class="btn btn-link">Registrarse</button></a>
      </div>
    </div>
  </div>
</div>
