<header class="main-header">
  <a [routerLink]="['/admin']" class="logo" height="40px">
    <img [src]="imgLogo">
    <span class="logo-mini">BREMS</span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Menú</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div *ngIf="userImage == undefined; else chargedImage">
              <img src="../../../../assets/img/loadingImages.svg" width="20px" height="20px" align="middle">
            </div>
            <ng-template #chargedImage>
              <img [src]="sanitizer.bypassSecurityTrustUrl(userImage)" class="user-image" />
            </ng-template>
            <span class="hidden-xs">{{user?.firstName}} {{user?.lastName1}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <div class="imgUploaderr">
                <div *ngIf="userImage == undefined; else chargedImage">
                  <img src="../../../../assets/img/loadingImages.svg" width="50px" height="50px" align="middle">
                </div>
                <ng-template #chargedImage>
                  <img [src]="sanitizer.bypassSecurityTrustUrl(userImage)" class="user-image" />
                </ng-template>
              </div>
              <p>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
