<section class="content-header">
  <h1>Inicio <small>Información reciente</small></h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3></h3>
          <p>Recursos</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3></h3>
          <p>Recursos reservados</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3></h3>
          <p>Usuarios registrados</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3></h3>
          <p>Multas</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title">Por hacer</h3>
        </div>
        <div class="box-body">
          <ul class=" todo-list ">
            <li>
              <span class="handle ">
                  <i class="fa fa-ellipsis-v "></i>
                  <i class="fa fa-ellipsis-v "></i>
              </span>
              <label class="checkbox-inline">
                  <input type="checkbox" value="">
                  <span class="text ">Añadir novelas de Miguel de Cervantes</span>
              </label>
              <div class="tools ">
                <i class="fa fa-edit "></i>
                <i class="fa fa-trash-o "></i>
              </div>
            </li>
            <li>
              <span class="handle ">
                  <i class="fa fa-ellipsis-v "></i>
                  <i class="fa fa-ellipsis-v "></i>
              </span>
              <label class="checkbox-inline">
                  <input type="checkbox" value="">
                  <span class="text ">Añadir ejemplares del año 2015 de FLEX Magazine</span>
              </label>
              <div class="tools ">
                <i class="fa fa-edit "></i>
                <i class="fa fa-trash-o "></i>
              </div>
            </li>
            <li>
              <span class="handle ">
                  <i class="fa fa-ellipsis-v "></i>
                  <i class="fa fa-ellipsis-v "></i>
              </span>
              <label class="checkbox-inline">
                  <input type="checkbox" value="">
                  <span class="text ">Añadir libros de filosofía de Miguel de Unamuno</span>
              </label>
              <div class="tools ">
                <i class="fa fa-edit "></i>
                <i class="fa fa-trash-o "></i>
              </div>
            </li>
            <li>
              <span class="handle ">
                  <i class="fa fa-ellipsis-v "></i>
                  <i class="fa fa-ellipsis-v "></i>
              </span>
              <label class="checkbox-inline">
                  <input type="checkbox" value="">
                  <span class="text ">Añadir libros de poesía dramaturga de Lope de Vega</span>
              </label>
              <div class="tools ">
                <i class="fa fa-edit "></i>
                <i class="fa fa-trash-o "></i>
              </div>
            </li>
            <li>
              <span class="handle ">
                  <i class="fa fa-ellipsis-v "></i>
                  <i class="fa fa-ellipsis-v "></i>
              </span>
              <label class="checkbox-inline">
                  <input type="checkbox" value="">
                  <span class="text ">Administrar usuarios con el carnet bibiliotecario caducado</span>
              </label>
              <div class="tools ">
                <i class="fa fa-edit "></i>
                <i class="fa fa-trash-o "></i>
              </div>
            </li>
            <li>
              <span class="handle ">
                  <i class="fa fa-ellipsis-v "></i>
                  <i class="fa fa-ellipsis-v "></i>
              </span>
              <label class="checkbox-inline">
                  <input type="checkbox" value="">
                  <span class="text ">Estudiar un plan de marketing publicitario</span>
              </label>
              <div class="tools ">
                <i class="fa fa-edit "></i>
                <i class="fa fa-trash-o "></i>
              </div>
            </li>
          </ul>
        </div>
        <div class="box-footer clearfix no-border ">
          <button type="button" class="btn btn-default pull-right "><i class="fa fa-plus "></i> Añadir tarea</button>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>

</section>
