<section class="content-header">
  <h1>Administraión de recursos<small>Administra los libros o las revistas</small></h1>
</section>

<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Editar {{resource?.title}}</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <form>
          <div class="col-md-5 col-lg-3">
            <div class="form-group">
              <!--
              <img src="/img/books/{{ resource.picture }}" alt="" class="img-responsive">
              <img src="/img/noPicture.png" alt="" class="img-responsive">
              <label for="exampleInputFile">Imagen</label>
              <input for="exampleInputFile" type="file" name="picture">
              -->
            </div>
          </div>
          
          <div class="col-lg-8">
            <div class="form-group">
              <label>Sumario del recurso</label>
              <textarea rows="3" cols="50" class="form-control" [(ngModel)]="resource.description">
              </textarea>
            </div>
            <div class="form-group">
              <label>Autor o compañía</label>
              <input type="text" class="form-control" [(ngModel)]="resource.author">
            </div>
            <div class="form-group">
              <label>Género literario</label>
              <input type="text" class="form-control" [(ngModel)]="resource.genre.name">
            </div>
            <div class="form-group">
              <label>Editorial</label>
              <input type="text" class="form-control" [(ngModel)]="resource.editorial">
            </div>
            <div class="form-group">
              <label>Tipo de recurso</label>
              <input type="text" class="form-control" [(ngModel)]="resource.resourceType.name">
            </div>
            <div class="form-group">
              <label>Número de copias</label>
              <input type="number" class="form-control" [(ngModel)]="resource.copies.length">
            </div>
            
          <div class="pull-right">
            <button (click)="saveResource()" class="btn btn-success">Guardar</button>
          </div>
      </div>-->
        </form>
      </div>
    </div>
  </div>
</section>
