<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ul class="breadcrumb">
      <li class="active"><i class="fa fa-home" aria-hidden="true"></i>Inicio</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ngb-tabset>
      <ngb-tab title="Libros">
        <template ngbTabContent>
          <div class="listItems">
            <ng-template ngFor let-book [ngForOf]="books">
              <div class="row item">
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="coverItem">
                    <img *ngIf="book.picture != null; else otherCont" [src]="img_url + book.picture" class="img-responsive" />
                    <ng-template #otherCont>
                      <img [src]="'./assets/img/noPicture.png'" class="img-responsive" />
                    </ng-template>
                    <div>
                      <div *ngIf="isLogged">
                        <button *ngIf="book.avaiblereserve; else notEnough" (click)="reserveResource(book.id)" class="btn btn-reserve">Reservar</button>
                        <ng-template #notEnough>
                          <p class="btn btn-notEnough">No disponible</p>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-7 informationItem">
                  <h3 class="title">{{book.title}}</h3>
                  <h5 class="authorName">por {{book.author}}</h5>
                  <div class="description">
                    <p>
                      {{book.description}}
                      <span>...</span>
                      <a href="#"> <span class="moreInfo">+ info</span> </a>
                    </p>
                    <div class="available stockAvailable">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                      <span class="textAvailable">Disponible</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <button [class.showBtnMoreBook]="moreBooksActive" (click)="addBooks(true)" type="button" class="btn btn-lg btn-block btn-view-more">Ver más libros</button>
          </div>
        </template>
      </ngb-tab>
      <ngb-tab title="Revistas">
        <template ngbTabContent>
          <div class="listItems">
            <ng-template ngFor let-magazine [ngForOf]="magazines">
              <div class="row item">
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="coverItem">
                    <img *ngIf="magazine.picture != null; else otherCont" [src]="img_url + magazine.picture" class="img-responsive" />
                    <ng-template #otherCont>
                      <img [src]="'./assets/img/noPicture.png'" class="img-responsive" />
                    </ng-template>
                    <div>
                      <div *ngIf="isLogged">
                        <button *ngIf="magazine.avaiblereserve; else notEnough" (click)="reserveResource(magazine.id)" class="btn btn-reserve">Reservar</button>
                        <ng-template #notEnough>
                          <p class="btn btn-notEnough">No disponible</p>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-7 informationItem">
                  <h3 class="title">{{magazine.title}}</h3>
                  <h5 class="authorName">por {{magazine.author}}</h5>
                  <div class="description">
                    <p>
                      {{magazine.description}}
                      <span>...</span>
                      <a href="#"> <span class="moreInfo">+ info</span> </a>
                    </p>
                    <div class="available stockAvailable">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                      <span class="textAvailable">Disponible</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <button [class.showBtnMoreMagaz]="moreMagazActive" (click)="addMagazines(true)" type="button" class="btn btn-lg btn-block btn-view-more">Ver más revistas</button>
          </div>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
