<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <div *ngIf="userImage == undefined; else chargedImage">
          <img src="../../../../assets/img/loadingImages.svg" width="50px" height="50px" align="middle">
        </div>
        <ng-template #chargedImage>
          <img [src]="sanitizer.bypassSecurityTrustUrl(userImage)" class="user-image" />
        </ng-template>
      </div>
      <div class="pull-left info">
        <p></p>
        <a href="#"><i class="fa fa-circle text-success"></i> En línea</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">MENÚ</li>
      <li [class.active]="indexActive"><a [routerLink]="['/admin']" (click)="update('index')"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
      <li [class.active]="resourcesActive"><a [routerLink]="['/admin/resources']" (click)="update('resources')"><i class="fa fa-book"></i> <span>Recursos</span></a></li>
      <li [class.active]="loansActive"><a [routerLink]="['/admin/loans']" (click)="update('loans')"><i class="fa fa-book"></i> <span>Préstamos</span></a></li>
      <li [class.active]="finesActive"><a [routerLink]="['/admin/fines']" (click)="update('fines')"><i class="fa fa-book"></i> <span>Multas</span></a></li>
      <li [class.active]="usersActive"><a [routerLink]="['/admin/users']" (click)="update('users')"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
    </ul>
  </section>
</aside>
