<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ul class="breadcrumb">
      <li><a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a></li>
      <li class="active">Perfil</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ngb-tabset>
      <ngb-tab title="Perfil">
        <template ngbTabContent>
          <div class="row userProfile">
            <div class="col-lg-2 avatar">
              <p>Avatar</p>
            </div>
            <div class="col-lg-8">
              <h4>
                Información Básica
                <a href="#" data-toggle="modal" aria-haspopup="true" aria-expanded="false"
                   data-target="#editProfile-modal">
                  <span class="glyphicon glyphicon-pencil"></span>(Editar)
                </a>
              </h4>

              <table class="table">
                <tbody>
                <tr>
                  <th scope="row">Nombre completo</th>
                  <td>{{user?.firstName}} {{user?.lastName1}} {{user?.lastName2}}</td>
                </tr>
                <tr>
                  <th scope="row">Usuario</th>
                  <td>{{user?.name}}</td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td>{{user?.email}}</td>
                </tr>
                <tr>
                  <th scope="row">Tel&eacute;fono</th>
                  <td>{{user?.telephone}}</td>
                </tr>
                <tr>
                  <th scope="row">Aficiones literarias</th>
                  <td>
                    Ieee
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="lastRow">Última vez</th>
                  <td>hace 34 minutos</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </template>
      </ngb-tab>
      <ngb-tab title="Préstamos">
        <template ngbTabContent>

        </template>
      </ngb-tab>
      <ngb-tab title="Historial">
        <template ngbTabContent>

        </template>
      </ngb-tab>
      <ngb-tab title="Multas">
        <template ngbTabContent>

        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
