<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ul class="breadcrumb">
      <li><a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a></li>
      <li class="active">{{resource?.title}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h2>{{resource?.title}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-lg-3">
        <div class="coverItem">
        </div>
      </div>
      <!-- informacion del libro -->
      <div class="col-lg-9 information">
        <h5 class="authorName"><span>por </span>{{resource?.author}}</h5>
        <ul class="stars">
          <li class="staticStar p10"></li>
          <li class="staticStar p10"></li>
          <li class="staticStar p10"></li>
          <li class="staticStar p6"></li>
          <li class="staticStar p0"></li>
        </ul> <span class="ratingValue">3.66</span>
        <div class="description">
          {{resource?.description}}
        </div>
        <div>
          <!-- // - text available -->
          <div class="available">
            <!--
            {{#available}}
            <span class="graphicAvailable stockGreen"></span>
            <span class="textAvailable">Disponible</span>{{/available}} {{^available}}
            <span class="graphicAvailable stockYellow"></span>
            <span class="textAvailable">No disponible</span>{{/available}}
            <!--<span class="graphicAvailable stockYellow"></span>-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span>-->
          </div>
          <!-- // - button reserved -->
          <button type="button" class="btn btn-success">Reservar</button>
        </div>
      </div>
    </div>
  </div>
</div>
