<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ul class="breadcrumb">
      <li><a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a></li>
      <li class="active">{{resource?.title}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h2>{{resource?.title}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-lg-3">
        <div class="coverItem">
          <img [src]="sanitizer.bypassSecurityTrustUrl(resource?.image)" class="img-responsive" />
        </div>
      </div>
      <div class="col-lg-9 information">
        <h5 class="authorName"><span>por </span>{{resource?.author}}</h5>
        <div class="description">
          {{resource?.description}}
        </div>
        <button type="button" class="btn btn-success">Reservar</button>
      </div>
    </div>
  </div>
</div>
