{{#copy.resource}}
	<div class="row item">
	    <div class="col-sm-6 col-md-4 col-lg-2">
	        <div class="coverItem">
	            {{#picture}}
	            	<img src="img/books/{{picture}}" class="img-responsive" /> 
	            {{/picture}} 
	            {{^picture}}
	            	<img src="img/noPicture.png" class="img-responsive" />
	            {{/picture}} 
	            <br>
	            <a href="/{{ id }}"> <span class="glyphicon glyphicon-info-sign"></span>ver libro
	            </a>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-8 col-lg-7 detailsBorrow">
	        <table class="table">
	            <tbody>
	                <tr>
	                    <th>Título</th>
	                    <td>{{title}}</td>
	                </tr>
	                <tr>
	                    <th>Autor</th>
	                    <td>{{author}}</td>
	                </tr>
	                <tr>
{{/copy.resource}}
	                    <th>Fecha de solicitud de préstamo</th>
	                    <td>{{dateLoanInit}}</td>
	                </tr>
	                {{#dateLoanGiven}}
	                <tr>
	                    <th>Fecha de recogida de préstamo</th>
	                    <td>{{dateLoanGiven}}</td>
	                </tr>
	                {{/dateLoanGiven}}
	                {{#dateLoanReturn}}
	                <tr>
	                    <th>Fecha de devolución</th>
	                    <td>{{dateLoanReturn}}</td>
	                </tr>
	                {{/dateLoanReturn}}
	            </tbody>
	        </table>
	    </div>
	</div>
