<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ul class="breadcrumb">
      <li><a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a></li>
      <li class="active">Búsqueda</li>
    </ul>
  </div>
</div>
<div class="row contentMain">
  <div class="col-lg-12">
    <div class="col-lg-2">
      <div class="brands_products">
        <h3 class="title">Género</h3>
        <div class="well">
          <ul class="nav nav-pills nav-stacked">
            <ng-template ngFor let-genre [ngForOf]="genres">
              <li>
                <a (click)="searchResourcesByGenre(genre.id)">{{genre.name}} <span class="pull-right">({{genre.resources?.length}})</span></a>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
        <h3 class="title" id="searchName">Resultados</h3>
        <div class="well" id="results">
          <ng-template [ngIf]="visible">
            <div class="listItems">
              <ng-template ngFor let-resource [ngForOf]="resources">
                <div class="row item">
                  <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="coverItem">
                      <img [src]="sanitizer.bypassSecurityTrustUrl(resource.image)" class="img-responsive" />
                      <div>
                        <div *ngIf="isLogged">
                          <button *ngIf="resource.avaiblereserve; else notEnough" (click)="reserveResource(resource.id)" class="btn btn-reserve">Reservar</button>
                          <ng-template #notEnough>
                            <p class="btn btn-notEnough">No disponible</p>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-8 col-lg-7 informationItem">
                    <h3 class="title">{{resource.title}}</h3>
                    <h5 class="authorName">por {{resource.author}}</h5>
                    <div class="description">
                      <p>
                        {{resource.description}}
                        <span>...</span>
                        <a [routerLink]="['/resource', resource.id]"> <span class="moreInfo">+ info</span> </a>
                      </p>
                      <div class="available stockAvailable">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span class="textAvailable">Disponible</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <button id="moreSearch" (click)="addSearch()" type="button" class="btn btn-lg btn-block btn-view-more">{{showMore}} {{search2}}</button>
            </div>
          </ng-template>
      </div>
    </div>
  </div>
</div>
